
footer {
    background-color: $maincolor;
    color: $maincolor2;
    font-size: 30px;
    font-family: $fontJost;
    

    .linkfooter {
        color:$maincolor2;
        font-size: 30px;
        font-family: $fontJost;
        text-decoration: none;

        & :hover {
            color: $maincolor3
    
            }
    }
           
        i {
            font-size: 50px;
            color: $maincolor2;
             
            & :hover {
                color: $maincolor3;
            }
           
        }
    
       
    }
