
footer {
    background-color:rgba(255, 255, 255, 0.39);
    color: $maincolor2;
    font-size: 30px;
    font-family: $fontJost;

    footer a {
        color:$maincolor2;
        font-size: 20px;
        font-family: $fontJost;
        text-decoration: none;
        display: block;
    }

    footer a:hover {
        color: $maincolor
    }
    footer p {
        font-size: 20px;
    }
    footer i {
        font-size: 50px;
        color: $maincolor2;
       
    }
    footer i:hover {
        color: $maincolor;
    }
}