@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Jost:wght@300;400&display=swap');

$fontJost: 'Jost', sans-serif;
$fontDancing: 'Dancing Script', cursive;

$maincolor: grey;

$maincolor2: black;

$maincolor3: white;



