@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Jost:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

header .navbar-brand {
  font-weight: bold;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  color: black;
  text-decoration: none;
}
header .navbar-brand span {
  color: grey;
}
header .navbar {
  letter-spacing: 5px;
}
header .navbar .navbar ul li {
  list-style: none;
  font-family: "Jost", sans-serif;
  font-size: 20px;
}
header .navbar .navbar ul li a {
  text-decoration: none;
  color: black;
}
header .navbar .navbar a:hover {
  color: grey;
  text-decoration: underline;
}

#carousel {
  transition: 0.1s;
}

footer {
  color: black;
  font-size: 20px;
  font-family: "Jost", sans-serif;
}
footer .linkfooter {
  color: black;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  text-decoration: none;
}
footer .linkfooter :hover {
  color: white;
}
footer i {
  font-size: 50px;
  color: black;
}
footer i :hover {
  color: white;
}

.galeriafotos :hover {
  transform: scale(1.1);
}

.titulosvideos1 {
  font-size: 30px;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.titulosvideos2 {
  font-size: 30px;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.titulofotos1 {
  font-size: 30px;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.titulocontacto {
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.minombre {
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.tituloinicio {
  font-size: 20px;
}

.subtituloinicio {
  font-size: 15px;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.textcontacto {
  font-size: 20px;
}/*# sourceMappingURL=styles.css.map */